.icon-buttons {
  position: fixed;
  top: 10px;
  left: 10px;

  display:flex;
  gap: 8px;
}

.icon-buttons button {
  width:32px;
  height:32px;
  padding:0;
  border:none;
  background:none;
  cursor:pointer;
}

.icon-buttons img{
  width:100%;
  height:100%;
  object-fit:contain;
}
