body {
  margin: 0;
  padding: 0;
  overflow : hidden;
  font-family: 'Malgun Gothic', sans-serif;
}

.button-container {
  position: absolute;
  top:20px;
  left:20px;
  z-index:10;
}

h1 {
  color: black;
  font-size : 32px;
  font-weight: bold;
  font-family : arial;
}
.medium-btn {
  display: inline-block;        /* 버튼을 가로로 나란히 배치 */
  padding: 20px 30px;           /* 안쪽 여백 (상하 10px, 좌우 20px) */
  border: none;                 /* 테두리 제거 */
  border-radius: 10px;           /* 둥근 모서리 (5px) */
  cursor: pointer;              /* 마우스 올리면 손가락 모양 */
  font-size: 16px;              /* 글자 크기 */
  font-weight: bold;            /* 글자 굵게 */
  margin: 5px;                  /* 버튼 간격 */
  transition: all 0.3s ease;    /* 모든 변화에 0.3초 애니메이션 효과 */
}
.medium-btn:hover {
  transform: translateY(-2px);  /* 위로 2px 이동 */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);  /* 그림자 효과 */
}

/* 다이아몬드버튼 */

.dia-btn {
  background-color: #e0ffff;    
  color: #00000;              
}

/* 물 버튼 */

.wat-btn {
  background-color: #4facfe;    /* 파란색 배경 */
  color: #00000;                /* 흰색 텍스트 */
}

/* 유리머븥ㄴ  */

.gla-btn {
  background-color: #fafad2;    /* 연두색 배경 */
  color: #00000;               /* 진한 녹색 텍스트 */
}

canvas {
  display :block;
  width:100vw;
  height:100vh;
}
